.box, .purple_box, .blue_box, .green_box, .orange_box {
    width: border-box;
    height: min-content;
    padding: 20px;
    border: 10px solid black;
    font-family: "Microsoft JhengHei", serif;
}
.purple_box {
    background-color: indigo;
    color: white;
}
.blue_box {
    background-color: blue;
    color: white;
}
.green_box {
    background-color: green;
    color: white;
}
.orange_box {
    background-color: orange;
    color: white;
}